@import "./reset.css";
@import "./links.css";
@import "./page-transition-loading-animation.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%; /* 10px */
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: sans-serif;
  position: relative;
  display: block !important;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

#root {
  position: relative;
  min-height: 100vh;
}

svg {
  width: inherit;
  height: inherit;
}

button {
  opacity: 1;
}
button:disabled {
  opacity: 0.5;
}

.toast {
  font-size: 1.7rem;
}

ul li {
  list-style: none;
}

ul li:before {
  content: '✓';
  padding-right: 1rem;
}

/* XS */
@media screen and (min-width: 0) and (max-width: 599px) {
  section,
  header,
  footer,
  #menu {
    font-size: 1.4rem;
  }
  .padding-x {
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* SM */
@media screen and (min-width: 600px) and (max-width: 899px) {
  section,
  header,
  footer,
  #menu {
    font-size: 1.4rem;
  }
  .padding-x {
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* MD */
@media screen and (min-width: 900px) and (max-width: 1199px) {
  section,
  header,
  footer,
  #menu {
    font-size: 1.4rem;
  }
}

/* LG */
@media screen and (min-width: 1200px) and (max-width: 1535px) {
  section,
  header,
  footer,
  #menu {
    font-size: 1.5rem;
  }
}

/* XL */
@media screen and (min-width: 1536px) {
  section,
  header,
  footer,
  #menu {
    font-size: 2rem;
  }
}
